/*========================================================*/
/*=========  original styles (pre R17) ===================*/
/*========================================================*/
body {
  background: #FFFFFF;
  color: #000000;
  font-family: Helvetica, Lucida, Arial, sans-serif;
  margin: 0pt;
}

/* link color */
a {
  color: #0050a0;
  text-decoration: none;
  background: transparent;
}

/* active link */
a:active {
  color: #0000cc;
  background: transparent;
}

/* hover anywhere */
a:hover {
  color: #0000cc;
  background: transparent;
}

/* link on navBar */
a.navBar {
  color: #dddddd;
  font-weight: bold;
  background: transparent;
  font-size: 80%;
}

/* link hover on navBar */
a.navBar:hover {
  color: #00aaff;
  background: transparent;
}

/* link inside content tables */
a.highlightNav {
  color: #00aaff;
  font-weight: bold;
  background: transparent;
  font-size: 80%;
}

/* any link text hover  */
a.highlightNav:hover {
  color: #00aaff;
  background: transparent;
}

/* navigation links on top right of content tables */
a.rightTitle {
  color: #dddddd;
  background: transparent;
}

/* navig links on top right of content tables (hover) */
a.rightTitle:hover {
  color: #00aaff;
  background: transparent;
}

/* outline of the navBar at the top */
table.navOutline {
  background: #000000;
  color: #ff0000;
}

/* outline color of content tables */
table.outline {
  background: #000000;
  color: #ff0000;
}

/* color of content tables */
table.content {
  background: #d0d0d0;
  color: #000000;
  border: 1px solid;
  width: 100%;
}

table.content td,
table.content th {
  border: 1px solid;
}

table.content td:first-child:not(:only-child),
table.content th:first-child:not(:only-child) {
  width: 20%;
}

/* row color for content tables */
tr.content {
  background: #d0d0d0;
  color: #000000;
  font-size: 90%;
}

/* color of navBar background and text */
td.navBarColor {
  background: #000000;
  color: #cccccc;
}

td.leftTitle {
  background: #305080;
  color: #dddddd;
  font-weight: bold;
  font-size: 90%;
}

td.leftNavTitle {
  background: #305080;
  color: #dddddd;
  font-weight: bold;
  font-size: 150%;
}

/* title text */
td.rightNavTitle {
  background: #d0d0d0;
  color: #000000;
  font-weight: bold;
  font-size: 150%;
}

/* top right section of content table */
td.rightTitle {
  background: #484848;
  color: #ffffff;
  font-weight: bold;
  font-size: 80%;
}

/* color of the date on the right of navBar */
.dateText {
  color: #808080;
  background: transparent;
}

/* any text out of the content tables */
.normalText {
  color: #dddddd;
  background: transparent;
  font-size: 70%;
}

/* any unexecuted lines */
p.unex {
  color: #0050a0;
  font-family: Courier New;
}

body {
  padding-left: 1em;
  padding-right: 1em;
}

/*========================================================*/
/*=========  tcov-report-table styling ===================*/
/*========================================================*/
table.tcov-report-table {
  background: #bbb;
  border-collapse: collapse;
  margin-top: 1em;
  border-radius: 0.5em;
  /*matches padding*/
  overflow: hidden;
  box-shadow: 0 0 3px black;
}
table.tcov-report-table pre {
  font-family: Consolas, "Courier New", Courier, monospace;
  font-size: 110%;
}
table.tcov-report-table tbody, table.tcov-report-table thead {
  /*border-collapse: collapse;*/
}
table.tcov-report-table tbody {
  border-top: dotted #bbb 1px;
  border-collapse: separate;
}
table.tcov-report-table tbody.tcov-unexec td.tcov-statement pre {
  color: red;
  /*in case of no javascript*/
}
table.tcov-report-table tbody.tcov-unexec td.tcov-statement pre span.mf-trimmed {
  background-color: pink;
  color: black;
}
table.tcov-report-table tbody.tcov-unexec tr td.tcov-nodenum, table.tcov-report-table tbody.tcov-unexec tr td.tcov-count {
  background-color: pink;
}
table.tcov-report-table tbody:not(.tcov-unexec) td.tcov-statement pre {
  color: green;
  /* in case of no javascript */
}
table.tcov-report-table tbody:not(.tcov-unexec) td.tcov-statement pre span.mf-trimmed {
  background-color: #ccffcc;
  color: black;
}
table.tcov-report-table tbody:not(.tcov-unexec) tr td.tcov-nodenum, table.tcov-report-table tbody:not(.tcov-unexec) tr td.tcov-count {
  background-color: #ccffcc;
}
table.tcov-report-table tbody.tcov-unexec:target tr td.tcov-statement pre, table.tcov-report-table tbody.tcov-unexec:target tr td.tcov-statement, table.tcov-report-table tbody.tcov-unexec:target tr td.tcov-sourcetag {
  background-color: #ddd;
}
table.tcov-report-table tr {
  border-width: 0;
}
table.tcov-report-table tr td, table.tcov-report-table tr th {
  background-clip: padding-box;
  padding: 0;
  border-width: 0;
}
table.tcov-report-table tr td:not(.tcov-statement):not(.tcov-sourcetag), table.tcov-report-table tr th:not(.tcov-statement):not(.tcov-sourcetag) {
  background-color: #ddf;
}
table.tcov-report-table tr td.tcov-nodenum, table.tcov-report-table tr td.tcov-count, table.tcov-report-table tr th.tcov-nodenum, table.tcov-report-table tr th.tcov-count {
  text-align: center;
}
table.tcov-report-table tr td.tcov-sourcetag, table.tcov-report-table tr td.tcov-statement, table.tcov-report-table tr th.tcov-sourcetag, table.tcov-report-table tr th.tcov-statement {
  background-color: #fafafa;
  border-left: 1px grey solid;
  border-right: 1px grey solid;
}
table.tcov-report-table tr td.tcov-sourcetag, table.tcov-report-table tr th.tcov-sourcetag {
  font-family: Consolas, "Courier New", Courier, monospace;
}
table.tcov-report-table tr td.tcov-statement pre, table.tcov-report-table tr th.tcov-statement pre {
  margin: 0;
}
table.tcov-report-table tr td.tcov-statement pre span.mf-keyword, table.tcov-report-table tr th.tcov-statement pre span.mf-keyword {
  font-weight: bold;
  color: purple;
}
table.tcov-report-table tr th {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
table.tcov-report-table tr td {
  border-bottom: none;
  border-top: none;
}
table.tcov-report-table tr td.tcov-linenumber {
  text-align: right;
  padding-right: 0.5em;
}
table.tcov-report-table tr td.tcov-nodenum, table.tcov-report-table tr td.tcov-count {
  text-align: center;
  padding-right: 0.5em;
  padding-left: 0.5em;
}
table.tcov-report-table tr:target {
  background-color: #ddd;
}
